h1 {
    font-family: fantasy; 
    font-size: 1rem;
}
 
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

  <head>
<link rel="icon" href="https://th.bing.com/th/id/R.27a79bbfe198ca305765dec0c63e90fb?rik=pVoOFYJr9jqSYQ&pid=ImgRaw&r=0">
</head>
